.screen-header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.notification {
  position: relative;
}

.notification__small {
  position: absolute;
  left: 22px;
  bottom: 22px;
}

.notification__sm {
  position: absolute;
  left: 50px;
  bottom: 70px;
}
